@font-face {
    font-family: "Boogaloo";
    src: url("Assests\\font\\Boogaloo-Regular.ttf") format("truetype");
}


body{
    background-image: url("Assests\\imgs\\bg.png");
    background-color: #ffffcd;
    display: flex;
    box-sizing: border-box;
}

.container{
    background-image: url("Assests\\imgs\\container-bg.png");
    background-color: aliceblue;    
    border-radius: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: "Boogaloo";
}

.top-col1{
    width: auto;
}

.inputs{
font-size: larger;
}

.input-text{
    margin-top: 10%;
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
}

.input-boxes{
    width: 80%;
    margin-left: 5%;
    max-width: 370%;
}

.titulo-pag{
    margin-top: 5%;
    text-align: center;
}

.col-md-4{
    align-self: center;
}

.form-control{
    margin-bottom: 8%;
    margin-left: 5%;
    max-width: 100%;
}

.form-select{
    margin-left: 5%;
}

.subbut{
    width: 60%;
    margin-left: 10%;
    margin-top: -4%;
    margin-bottom: 10%;
}
