.photo {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef5e7;
    color: #333;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
    color: #f2c94c;
}

p {
    margin: 10px 0;
    color: #333;
}

strong {
    font-weight: bold;
}
